body {
  background-color: #134079;
  overflow:hidden;
  
}

.back-line{
  width: 100vw;
  height: 100vh;
  background-attachment: fixed; 
  overflow: hidden;
  position: relative;
}
.back-line:before {
  animation: back-line 3s cubic-bezier(.4, 0, .2, 2) forwards;
  background: #134079;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes back-line {
  100% {
    transform: translateX(100%);
  }
}

.contents{
  position: absolute;
  top: 0px;
  z-index: 7;
}

.logo {
  height: 110px;
  animation-name: title;
  animation-duration: 3s;
  z-index: 5;
}
@keyframes title {
from {
  opacity: 0;
  transform: translateY(-30px);
}
to {
  opacity: 1;
  transform: translateY(0px);
}
}

.game {
  position: relative;
  width: 960px;
  height: 600px;
  z-index: 6;
}
.character {
  position: absolute;
  left: 820px;
  z-index: 4;
  width: 600px;
  animation-name: character;
  animation-duration: 4s;
}
@keyframes character {
from {
  opacity: 0;
  transform: translateX(100px);
}
to {
  opacity: 1;
  transform: translateX(0px);
}
}

.footer {
 position: absolute;
 right: 20px;
 bottom: 0px;
 color: #fff;
 z-index: 8;
}

a {
  color: red;
  text-decoration-line: none;
}